.cover__link {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  text-decoration: none;
  background-image: url('../../../images/baikal-dogs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.cover__link::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  position: absolute;
  opacity: 0.3;
  transition: 0.3s;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1120px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width: 960px) {
  .cover__link {
    max-width: 100vw;
    min-height: 480px;
  }
}
@media screen and (max-width: 540px) {
  .cover__link {
    min-height: 200px;
  }
}
