.place__title {
  margin: 0;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  color: #FFF;
}
/*
@media screen and (max-width: 1120px) {
  .place__title {
   max-width: 440px;
  }
 }*/
 @media screen and (max-width: 960px) {
   .place__title {
      /*max-width: 340px;*/
      font-size: 42px;
      line-height: 46px;
   }

 }
 @media screen and (max-width: 540px) {
   .place__title {
      /*max-width: 288px;*/
      font-size: 32px;
      line-height: 35px;
      min-width: 288px;
      margin-left: 16px;

   }

 }
