.places {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 960px) {
  .places {
    max-width: 100vw;
  }
}

@media screen and (max-width: 540px) {
  .places {
     max-width: 320px;
  }
}
