.places {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*min-height: 3392px;*/
  justify-content: space-between;
  /*display: grid;
  grid-template-rows: 660px 584px 584px 660px 584px;
  grid-row-gap: 80px;*/
}

@media screen and (max-width: 1120px) {
  .places {
    grid-template-rows: 640px 564px 564px 640px 564px;
    grid-row-gap: 80px;
  }
}

@media screen and (max-width: 960px) {
  .places {
    grid-template-rows: minmax(430px, 600px) minmax(430px, 600px) minmax(430px, 600px) minmax(430px, 600px) minmax(430px, 600px);
    /*grid-template-rows: 581px 535px 483px 434px 484px;
    grid-template-rows: max-content max-content max-content max-content max-content;*/
    grid-row-gap: 73px;

  }
}
/*
@media screen and (max-width: 720px) {
  .places {
    grid-template-rows: repeat(5, 840px);
  }
}
*/
@media screen and (max-width: 540px) {
  .places {
    grid-template-rows: 1042px 1016px 990px 965px 965px;
    /*grid-template-rows: repeat(5, max-content);*/
    grid-row-gap: 50px;
  }
}
