.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto 0;
  padding-top: 48px;
}
@media screen and (max-width: 1120px) {
  .header {
    max-width: 928px;
  }
}
@media screen and (max-width: 960px) {
  .header {
    max-width: 720px;
    padding-top: 28px;
  }
}
@media screen and (max-width: 540px) {
  .header {
    max-width: 288px;
    margin: 0 auto 0;
    padding-top: 16px;
  }
}


