.lead__image {
  width: 100%;
  /*max-width: 984px;*/
  max-height: 615px;
}

@media screen and (max-width: 960px) {
  .lead__image {
    max-width: 100vw;
  }
}
/*
@media screen and (max-width: 1120px) {
  .lead__image {
    max-width: 100vw;
    max-height: 962px;
  }
}


@media screen and (max-width: 540px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
*/
