.intro {
  /*margin-top: 92px;*/
  margin-left: 100px;
  max-width: 690px;
/*  min-height: 429px;*/
}

@media screen and (max-width: 960px) {
  .intro {
    max-width: 720px;
    margin-left: 0;
  }

}
@media screen and (max-width: 540px) {
  .intro {
    max-width: 288px;
    margin-left: 0;
  }
}
