.intro {
  margin-left: 100px;
  max-width: 690px;
}
@media screen and (max-width: 1120px) {
  .intro {
    margin-left: 48px;
  }
}
@media screen and (max-width: 960px) {
  .intro {
    max-width: 720px;
    margin-left:  24px;
  }

}
@media screen and (max-width: 540px) {
  .intro {
    max-width: 288px;
    margin: auto;
  }
}
