.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  /*grid-template-rows: 152px 460px;*/
  grid-template-areas:
  "title website"
  "image paragraphs";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 1120px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
  }

 }
 @media screen and (max-width: 960px) {
   .place {
     max-width: 720px;
     grid-template-columns: 340px 1fr;
   }

 }
 @media screen and (max-width: 540px) {
   .place {
     max-width: 320px;
     grid-template-columns: 320px;
     grid-template-areas:
     "title"
     "website"
     "image"
     "paragraphs";
     grid-row-gap: 32px;
   }

 }
