.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "title website"
  "image paragraphs";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin-bottom: 80px;
}
.place:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 1120px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 48px;
  }
 }
 @media screen and (max-width: 960px) {
   .place {
      max-width: 100vw;
      grid-template-columns: 340px 1fr;
      grid-column-gap: 28px;
      grid-row-gap: 48px;
      margin-bottom: 73px;
   }
 }
 @media screen and (max-width: 540px) {
   .place {
     max-width: 320px;
     grid-template-columns: 320px;
     grid-template-areas:
     "title"
     "website"
     "image"
     "paragraphs";
     grid-row-gap: 32px;
     margin-bottom: 50px;
   }
 }
