.footer {
  display: flex;
  margin: 92px auto 0;
  padding-bottom:  24px;
  justify-content: space-between;
  max-width: 1184px;
  color: white;
}
@media screen and (max-width: 1120px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 960px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 0 16px;
  }
}
